<h1>Graphics</h1>
​
<% series = [
  {name: "Male", data: @male_user},
  {name: "Female", data: @female_user}
] %>
​
<% options = {
  title: 'Users Growth',
  subtitle: 'Grouped Per Week',
  xtitle: 'Week',
  ytitle: 'Users',
  stacked: true
} %>

<% range_bar_series = [{
      name: "Series A",
      data: {
        'A' => [1, 5],
        'B' => [4, 6],
        'C' => [5, 8],
        'D' => [3, 11]
      }
    }, {
      name: "Series B",
      data: {
        'A' => [2, 6],
        'B' => [1, 3],
        'C' => [7, 8],
        'D' => [5, 9]
      }
  }]
%>
​
<% heatmap_series = 17.downto(10).map do |n|
{
  name: "#{n}:00",
  data: 15.times.map do |i|
    ["W#{i+1}", rand(90)]
  end.to_h
}
end %>

<% bubble_series = (1..4).map do |n|
{
  name: "Bubble#{n}",
  data: 20.times.map{[rand(750),rand(10..60),rand(70)]}
}
end %>

<%= line_chart(series, options) %>
<%= line_chart(series, {**options, theme: 'palette7', curve: 'stepline'}) %>
<%= area_chart(series, {**options, theme: 'palette5'}) %>
<%= column_chart(series, {**options, theme: 'palette4'}) %>
<%= bar_chart(series, {**options, xtitle: 'Properties', ytitle: 'Week', height: 800, theme: 'palette7'}) %>
<%= range_bar_chart(range_bar_series, theme: 'palette3') %>
<%= scatter_chart(series, {**options, theme: 'palette3'}) %>
<%= heatmap_chart(heatmap_series) %>
<%= bubble_chart(bubble_series, data_labels: false, theme: 'palette6') %>
<%= pie_chart([
  {name: "Series A", data: 25},
  {name: "Series B", data: 100},
  {name: "Series C", data: 200},
  {name: "Series D", data: 125}
], legend: "left") %>
<%= donut_chart([25, 100, 200, 125], theme: 'palette4') %>
<%= radial_bar_chart([
  {name: "Circle A", data: 25},
  {name: "Circle B", data: 40},
  {name: "Circle C", data: 80},
  {name: "Circle D", data: 45}
], legend: true) %>
